@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-[#141414] text-white;
    }
}

@layer utilities {
    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .hide-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

.row__poster {
    transition: transform 450ms;
}

.row__poster:hover {
    transform: scale(1.08);
}

.row__posterLarge {
    transform: scale(1.09);
}

.row__posterLarge:hover {
    transform: scale(1.1);
}